* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  font-size: 10px;

  /* colors */
  --light-green: 186, 223, 219;
  --green: 73, 190, 183;
  --orange: 255, 138, 92;
  --creamy: 252, 249, 234;

  /* fonts */
  --main-font: 'Ranchers', cursive;

  /* dimensions */
  --max-width: 1100px;
  --board-width: 550px;
  --boards-animation: .5s
}

body {
  font-family: var(--main-font);
  color: rgb(var(--creamy));
  font-size: 2rem;
  letter-spacing: .1rem;
}

.game-wrapper {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: rgb(252, 249, 234);
  background-image: linear-gradient(0deg, rgba(252, 249, 234, 1) 23%, rgba(186, 223, 219, 1) 100%);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.game-wrapper__bg {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


/* bg - paper / stone */
.game-wrapper::after,
.game-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.game-wrapper::after {
  top: 0;
  left: 50%;
  background-image: url(../images/bg-paper.png);
  background-position: top;
  transform: scale(1.1) translate(-50%, -10%);
  transform-origin: top left;
}

.game-wrapper::before {
  bottom: 0;
  left: 50%;
  background-image: url(../images/bg-stone.png);
  background-position: bottom;
  transform: scale(1.2) translate(-50%, 0);
  transform-origin: bottom left;
}


/* bg - scissors */
.game-wrapper__bg::before,
.game-wrapper__bg::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  background-image: url(../images/bg-scissors.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
  opacity: .5;
}

.game-wrapper__bg::before {
  top: 8%;
  left: -11%;
  transform: rotate(19deg) scale(.93);
}

.game-wrapper__bg::after {
  top: -2%;
  right: -13%;
  transform: rotate(240deg) scale(1.1);
}


/* BUTTONS */
.btn {
  font-family: var(--main-font);
  text-transform: uppercase;
  color: rgb(var(--creamy));
  border: 0;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.btn--big {
  font-size: 3rem;
  padding: 12px 28px;
  box-shadow: 5px 5px 0 rgba(var(--green), .5);
  border-radius: 50px;
}

.btn--big:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 0 rgba(var(--green), .5);
}

.btn--small {
  font-size: 2.1rem;
  letter-spacing: .1rem;
  padding: 11px 18px;
  border-radius: 30px;
  box-shadow: 3px 3px 0 rgba(var(--green), .5);
}

.btn--small:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 0 rgba(var(--green), .5);
}

.btn--apply {
  background-color: rgb(var(--orange));
}

.btn--leave {
  background-color: rgb(var(--green));
}


/************ TITLE ************/
.title {
  height: 28vh;
  width: var(--board-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.title__heading {
  font-size: 7.7rem;
  line-height: 7.3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: rgb(var(--green));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 7px 7px 0 rgba(var(--green), .2);
  z-index: 1;
  transition: .2s;
  text-align: center;
}

.title__hading--first-leter:nth-child(2) {
  margin-left: 10px;
}

.title__hading--first-leter::first-letter {
  color: rgb(var(--orange));
  font-size: 9.8rem;
  display: block;
}

.title__subheading {
  width: 100%;
  height: 72px;
  letter-spacing: 0.1rem;
  padding: 5px 0 0 0;
  box-sizing: border-box;
  margin-top: 5px;
  display: block;
  text-align: center;
  font-size: 3.6rem;
  background-image: url(../images/title-ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 1;
}




/************ GAME BOARDS ************/
.game-boards {
  width: 100%;
  height: 67vh;
  position: relative;
}

/* BOARD GENERAL */
.board {
  /* position: relative; */
  width: var(--board-width);
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}

.board.user {
  justify-content: space-around;
}

.board.welcome,
.board.user,
.board.win,
.board.draw,
.board.loss,
.board.result,
.board.end {
  border-radius: 15px;
  position: absolute;
}

.board.welcome,
.board.user,
.board.win,
.board.draw,
.board.loss,
.board.end {
  background-color: rgba(var(--green), .3);
}


/* headings */
.board__heading {
  font-size: 6.6rem;
  line-height: 6rem;
  letter-spacing: 0.4rem;
  color: rgb(var(--orange));
  text-shadow: 4px 4px 0 rgba(var(--green), .5);
}

.board__subheading {
  font-size: 3.9rem;
  letter-spacing: 0.2rem;
  color: rgb(var(--creamy));
  text-shadow: 4px 4px 0 rgba(var(--green), .5);
  text-align: center;
}

/* buttons */
.board__buttons {
  display: flex;
}

.board__buttons .btn {
  margin: 0 10px;
}


/*** board - WELCOME ***/
.welcome {
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-200%, -50%);
  opacity: 0;
  transition: var(--boards-animation);
}

.welcome.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.welcome .board__heading {
  font-size: 10rem;
  line-height: 9.8rem;
}

.welcome .board__subheading {
  font-size: 6rem;
  text-transform: lowercase;
  letter-spacing: .1rem;
}

/* user name form */
.welcome-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-form__info {
  font-size: 2rem;
  color: rgba(var(--green, .4));
  margin-top: 5px;
}

.welcome-form__error {
  font-size: 1.8rem;
  color: rgb(var(--orange));
  display: block;
  padding: 5px;
  margin: 15px 0 5px 0;
  border-radius: 50px;
  background-color: rgba(var(--orange2), .5);
  opacity: 0;
  transition: .3s;
}

.welcome-form__error.active {
  opacity: 1;
}

.welcome-form__input {
  width: 68%;
  font-family: var(--main-font);
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgb(var(--green));
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 4px 4px 0 rgba(var(--green), .5);
}

.welcome-form__btn {
  margin: 40px 0 15px 0;
}


/*** board - WIN / DRAW / LOSS ***/
.win,
.draw,
.loss {
  height: 55%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: var(--boards-animation);
}

.win.active,
.draw.active,
.loss.active {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.win .btn,
.draw .btn,
.draw .loss {
  margin-top: 20px;
}


/*** board - USER ***/
.user {
  height: 55%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: var(--boards-animation);
}

.user.active {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.user-headings {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.user-headings__name {
  color: rgb(var(--orange));
  margin-right: 12px;
  text-transform: uppercase;
}

.user-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-card__item {
  width: 30%;
  box-sizing: border-box;
  border: 5px solid rgba(var(--green), .5);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(var(--green), .2);
  background-color: rgba(var(--creamy), .7);
}

.user-card__item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* position: relative; */
}

.card__description,
.card__icon {
  position: absolute;
}

.user-card__item,
.card__description,
.card__icon {
  transition: .4s;
}

.user-card__item.choiced {
  z-index: -1;
  opacity: .7;
}

.card__icon {
  width: 80%;
  height: auto;
  opacity: .7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__description {
  font-size: 2.4rem;
  letter-spacing: .1rem;
  opacity: .5;
  color: rgb(var(--green));
  text-align: center;
  bottom: 10px;
  left: 0;
  right: 0;
}

.user-card__item:hover {
  transform: scale(1.1);
  border: 5px solid rgba(var(--green), 1);
  box-shadow: 6px 6px 0 rgba(var(--green), .2);
}

.user-card__item:hover .card .card__icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

.user-card__item:hover .card .card__description {
  opacity: 1;
}


/*** board - RESULT ***/
.result {
  height: 42%;
  bottom: 0;
  left: 50%;
  margin-top: 15px;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: var(--boards-animation);
  /* border: 4px solid rgba(var(--green), .4); */
  background-color: rgba(var(--green), .3);
}

.result.active {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}

.result-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.result-card__item,
.result-scorring {
  width: 30%;
}

.result-card__heading {
  font-size: 2rem;
  color: rgb(var(--orange));
}

.result-card__heading,
.result-scorring__heading {
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
  text-align: center;
}

.result-card__pic {
  width: 100%;
  box-sizing: border-box;
  border: 5px solid rgba(var(--green), .4);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  background-color: rgba(var(--creamy), .7);
}

.result-card__pic.active {
  border: 5px solid rgba(var(--green), .8);
  transition: .5s;
}

.result-card__pic.active.winer {
  border: 6px solid rgb(var(--orange));
}

.result-card__pic::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.result-card__pic .card {
  transform: scale(0);
  opacity: 0;
  transition: .4s;
}

.result-card__pic .card__icon {
  opacity: 1;
}

.result-card__pic .card__description {
  opacity: 1;
  transition: .4s;
}

.result-card__pic.active.winer .card__description {
  color: rgb(var(--orange));
}

.result-card__pic .card.active {
  transform: scale(1);
  opacity: 1;
}

.result-card__pic .card,
.card-empty,
.card-empty::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-empty {
  opacity: 0;
  transform: scale(0) rotate(360deg);
  transition: var(--boards-animation);
}

.card-empty::before {
  content: "";
  background-image: url(../images/card-empty-bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.card-empty.active {
  opacity: 1;
  transform: scale(1) rotate(0);
}


/* result-scorring */
.result-scorring__heading {
  font-size: 1.8rem;
  color: rgb(var(--green));
}

.result-scorring__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.scoring-main,
.scoring-additional {
  display: flex;
}

.scoring-main {
  border-top: 4px solid rgb(var(--green));
  border-bottom: 4px solid rgb(var(--green));
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: relative;
}

.scoring-main::after {
  content: ':';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scoring-main__win,
.scoring-main__loss,
.scoring-main::after {
  font-size: 6rem;
  color: rgb(var(--orange));
}

.scoring-main__win,
.scoring-main__loss {
  display: block;
  width: 50%;
  padding: 0 5px;
  box-sizing: border-box;
}

.scoring-main__win {
  text-align: right;
  padding-right: 15px;
}

.scoring-main__loss {
  text-align: left;
  padding-left: 15px;
}


/* scoring-additional */
.scoring-additional {
  padding: 4%;
  position: relative;
}

.scoring-additional::after {
  content: "";
  width: 4px;
  height: 43%;
  background-color: rgba(var(--green), .5);
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translateX(-50%);
}

.scoring-additional__item {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.scoring-additional__heading {
  font-size: 1.3rem;
  color: rgb(var(--green));
  text-transform: uppercase;
}

.scoring-additional__heading,
.scoring-additional__games,
.scoring-additional__draw {
  text-align: center;
}

.scoring-additional__games,
.scoring-additional__draw {
  color: rgba(var(--green), .9);
  font-size: 3.5rem;
}


/*** board - END ***/
.end {
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-200%, -50%);
  opacity: 0;
  transition: calc(var(--boards-animation)*1.4);
}

.end.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.end-scorring__wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
}

.end .scoring-main {
  padding: 12px 0;
}

.end .scoring-main__player {
  display: block;
  width: 27%;
  color: rgb(var(--orange));
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.end .scoring-main__win,
.end .scoring-main__loss {
  width: 23%;
}

.end .scoring-additional {
  padding: 10px;
}

.end .scoring-additional__heading {
  font-size: 1.8rem;
}

.end .scoring-additional__games,
.end .scoring-additional__draw {
  font-size: 4.6rem;
}



/************ ROTATION INFO ************/
.rotation-info {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgb(var(--light-green));
  display: none;
  z-index: 20;
}

.rotation-info__heading {
  margin: 20px 0;
  font-size: 4rem;
  line-height: 4.2rem;
  text-transform: uppercase;
  text-align: center;
  color: rgb(var(--green));
  text-shadow: 3px 3px 0 rgba(var(--green), .4);
}

.rotation-info__heading--strong {
  color: rgb(var(--orange));
}

.rotation-info__icon {
  height: 15%;
  background-image: url(../images/rotation-ico.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



/************ FOOTER ************/
.game-footer {
  height: 5vh;
  width: var(--board-width);
  /* border-top: 2px solid rgb(var(--light-green)); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.game-footer__info {
  font-size: 1.4rem;
  color: rgba(var(--green), .8);
  text-align: center;
}

.game-footer__info--sign {
  font-size: 1.8rem
}